.top {position:fixed;  background: linear-gradient(white, white, white, white, white, ghostwhite);  width:100%; font-size:170%; color:grey;  box-shadow: 0 0 15px lightgray;}

.menubtn {float:left;  padding:8px 16px 14px 16px;}

.title{ text-align:left;  font-size:100%;  float:left;  color:darkslategray;  margin:5px;}

.dot {color:orange}

.subtitle{ color:grey;  font-size:60%;  margin-top:-6px;}

.login{float:right;  display:flex;  font-size:130%;  padding:0px 16px 10px 16px;}

.menubtn:hover{ background:rgba(0,127,255,0.05);  color:blue; cursor:pointer;}

.login:hover{ background:rgba(0,127,255,0.05); color:blue; cursor:pointer;}

.main{margin-top:60px;  padding:20px;}

body {margin:0px; padding:0px; background: rgb(252, 252, 252); font: status-bar;}

h3 {color:darkslategray}
